.day-main {
  margin: auto;
}

.event-list {
  background-color: rgb(230, 230, 230);
  color: black;
  width: 80%;
  max-width: 50rem;
  margin: 2rem auto;
  border-radius: 15px;
}

.add-event-button {
  font-size: 1rem;
  padding: 0.4rem 1rem;
  border-radius: 10px;
  background-color: rebeccapurple;
  border: none;
  cursor: pointer;
  color: white;
}

.add-event-button:hover {
  background-color: royalblue;
}

@media screen and (max-width: 720px) {
  .event-list {
    width: 90%;
  }
  .add-event-button {
    font-size: 0.8rem;
  }
}
