.event-list {
  background-color: rgb(230, 230, 230);
  color: black;
  max-width: 60rem;
  margin: 2rem auto;
  border-radius: 15px;
}

.event-element {
  padding: 1rem 0;
  width: 85%;
  margin: auto;
}

.event-element:not(:last-child) {
  border-bottom: 1px solid black;
}
